<div class="movies-block">
    <h2>Popular Movies:</h2>
    <app-list-movies [arrayChoosenToBeDisplayed]="popularMovies"></app-list-movies>
</div>
<div class="movies-block">
    <h2>Next On Theaters:</h2>
    <app-list-movies [arrayChoosenToBeDisplayed]="nextOnTheater"></app-list-movies>
</div>
<div class="movies-block">
    <h2>Best Votes:</h2>
    <app-list-movies [arrayChoosenToBeDisplayed]="bestNotesFilms"></app-list-movies>
</div>
<div class="movies-block">
    <h2>Now Playing on theaters:</h2>
    <app-list-movies [arrayChoosenToBeDisplayed]="nowInTheater"></app-list-movies>
</div>